<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two Btns</title>
    <link rel="stylesheet" href="style.css">

    <style>
        body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: url("https://img.freepik.com/free-vector/clean-medical-background_53876-97927.jpg?w=996&t=st=1710478916~exp=1710479516~hmac=05f4001f9adbc2e13b016eaf1cf48f6602846639507c40bf2a6e9c62be9bc1db");
    background-size: cover;
    background-attachment: fixed;

}
.btn-container button{
    margin: 2rem;
    border:1px solid rgb(243, 16, 16);
    background: none;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 600 ;   ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    width: 22rem;
}

.btn1{
    color:rgb(243, 16, 16);

}

.btn1:hover{
    color:white;
    
}

.btn1::before{
    content: "";
    position:absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background:rgb(243, 16, 16) ;
    z-index: -1;
    transition: 0.8s;
}

.btn1::before{
    top:0;
    border-radius: 0 0 50% 50%;
}

.btn1:hover::before{
    height: 180%;
}
    </style>
</head>
<body>

    <div class="btn-container">
        <a href="/bloodData"><button class="btn1">View Blood Bank Data</button></a><br>
        <a href="/useCard"><button class="btn1" > Make Card For User</button></a><br>
        <a href="/text-mail"><button class="btn1" > ERS </button></a>
    </div>
    
</body>
</html>