<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<style>/* Reset some default browser styles */
    body,
    h1,
    h2,
    p,
    ul,
    li,
    form,
    input,
    textarea,
    a {
      margin: 0;
      padding: 0;
      border: none;
      font-family: "Poppins", sans-serif;
    }
    
    body {
      background-color: #f7f9fc;
      color: #333;
      line-height: 1.6;
      background-image: url("https://img.freepik.com/free-vector/clean-medical-background_53876-97927.jpg?w=996&t=st=1710478916~exp=1710479516~hmac=05f4001f9adbc2e13b016eaf1cf48f6602846639507c40bf2a6e9c62be9bc1db");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .container {
      max-width: 800px;
      margin: 50px auto;
      background-color: #fff;
      padding: 20px 40px;
      border-radius: 8px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }
    
    h1 {
      font-size: 2.5em;
      margin-bottom: 20px;
      color: rgba(4, 136, 170, 0.93);
      text-align: center;
    }
    
    h2 {
      font-size: 1.5em;
      margin-bottom: 10px;
      color: #555;
    }
    
    p,
    input,
    textarea {
      margin-bottom: 20px;
    }
    
    small {
      display: block;
      margin-bottom: 20px;
      color: #888;
    }
    
    input,
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 1em;
      outline: none;
      transition: border 0.3s;
    }
    
    input:focus,
    textarea:focus {
      border-color: #007bff;
    }
    
    a,
    button {
      text-decoration: none;
      background-color: #007bff;
      color: #fff;
      padding: 10px;
      font-size: 1em;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    button.full-width {
      display: block;
      text-align: center;
      width: 100%;
    }
    
    a,
    button:hover {
      background-color: #0056b3;
    }
    
    ul {
      list-style-type: none;
    }
    
    li {
      padding: 20px 0;
      border-bottom: 1px solid #eee;
    }
    
    li:last-child {
      border-bottom: none;
    }
    
    a.edit {
      background-color: #007bff;
      /* margin-right: 10px; */
    }
    
    a.delete {
      background-color: #e74c3c;
    }
    
    a.delete:hover {
      background-color: #c0392b;
    }
    
   
    
    </style>
<body>
    <div class="container">
        <h1>Available Blood in Blood Banks</h1>
        <ul id="postsList">
          <% posts.forEach(post=> { %>
            <li>
              <h2>
                <%=post.title%>
              </h2>
              <small>
                <%=post.date %>
              </small>
              <p>
                <%=post.content%>
              </p>
              <small>By: <%=post.author%> </small>
            </li>
            <% }); %>
        </ul>
      </div>
    
</body>
</html>